---
import Layout from '../layouts/Layout.astro';
---

<Layout title="キャスト紹介 | 舞台「霧」">
    <main>
        <h1>CAST</h1>
        <p>宮下貴浩、私オム ...ほか、出演者の情報をここに書くぞ。</p>
        <a href="/">トップページへ戻る</a>
    </main>
</Layout>
