---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="舞台「霧」">
	<main>
　　　<h1>宮下貴浩×私オム プロデュース 舞台「霧」</h1>

　　　<img src="/main-visual.jpg" alt="舞台 霧 メインビジュアル" width="600"/>


<nav>
    <ul>
        <li><a href="/cast">キャスト紹介</a></li>
    </ul>
</nav>

		<p>
			ここに公演情報を載せていく予定だ
		</p>
	</main>
	<Welcome />
</Layout>
